<h2 class="title is-2">註冊會員</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, '使用者帳號' %><br />
    <div class="control">    
      <%= f.text_field :username, autofocus: true, class: 'input is-medium' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <div class="control">    
      <%= f.email_field :email, class: 'input is-medium', type: 'email', placeholder: 'Email input' %>
  </div>

  <div class="field">
    <%= f.label :設定密碼 %>
    <div class="control is-primary">  
    <% if @minimum_password_length %>
    (<%= @minimum_password_length %> 位數字)
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" , class: 'input is-medium' %>
   </div>
  </div>

  <div class="field">
    <%= f.label :再次確認密碼 %><br />
    <div class="control is-primary">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input is-medium' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "註冊" , class: 'button is-link' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

