<section class="columns has-text-centered story-content">
  <section class="column is-offset-3 is-6">
    <h1 class="title is-3"><%= @story.title %></h1>

    <span class="profile",data-controller="user">
      <%= avatar(@story.user, size: 50) if @story.user.avatar.attached? %>
      <span class="username"><%= @story.user.username %></span>
      <%= link_to "Follow", "#", class: 'follow-button',
                                 data: {
                                   action: 'user#follow',
                                   user: @story.user.id, 
                                   target: 'user.followButton' } %>
    </span>

    <article class="content">
      <%= cover_image(@story, size: 650) if @story.cover_image.attached? %>
      
      <!-- simple_format 自動換行及顯示超連結 -->
      <p>
        <%= simple_format(@story.content) %>
      </p>

      <footer data-controller="story">
        <%= link_to "#", class: 'clapButton is-size-2 has-text-primary',
            data: { action: 'story#addClap', slug: @story.slug } do %>
          <i class="far fa-hand-spock"></i>
          <span class="clapCount" data-target="story.clapCount">0</span>
        <% end %>      
      </footer>
    </article>
    <hr>
    <section class="comments">
      <h2>留言</h2>
      <%= render 'comment_area', story: @story, comment: @comment %>
      <section class="comments-list">
        <%= render partial: 'comment', collection: @comments %>  
        <!-- collection 需要寫 render partial 全銜 -->
      </section>
    </section>
  </section>
</section>